{% extends "bookstore/base.html" %}

{% load bookstore_extras %}

{% block title %}{{ author.firstname }} {{ author.lastname }} - {{ block.super }}{% endblock %}
{% block metakeywords %}{% if author.metakeywords %}{{ author.metakeywords }}{% else %}{{block.super}}{% endif %}{% endblock %}
{% block metadescription %}{% if author.metadescription %}{{ author.metadescription }}{% else %}{{block.super}}{% endif %}{% endblock %}

{% block content %}
<div class="entry ui-corner-all" id="author">
{# author bio: message ((with picture?)) #}
<h3>{{ author.firstname }} {{ author.lastname }}
{% fblike link %}

</h3>
<p>{{ author.biography|minifmt|safe }}</p>
</div>

{% if books.count %}
<h3 class="bridge"><span>Publications by <em>{{ author.firstname }} {{ author.lastname }}</em></span></h3>
<div class="entry grid ui-corner-all">
{% for book in books %}
    {% bookcard book %}
{% endfor %}
</div>
{% pager bookpager %}
{% endif %}

{% if upcoming.count %}
{# upcoming releases of this author, ordered by expected release #}
<h3 class="bridge"><span>Upcoming Releases by <em>{{ author.firstname }} {{ author.lastname }}</em></span></h3>
<div class="entry grid ui-corner-all">
{% for book in upcoming %}
    {% bookcard book %}
{% endfor %}
</div>
{% endif %}


{% endblock content %}
