{% extends "bookstore/base.html" %}

{% load bookstore_extras %}

{% block title %}{{ author.firstname }} {{ author.lastname }} - {{ block.super }}{% endblock %}
{% block metakeywords %}{% if author.metakeywords %}{{ author.metakeywords }}{% else %}{{block.super}}{% endif %}{% endblock %}
{% block metadescription %}{% if author.metadescription %}{{ author.metadescription }}{% else %}{{block.super}}{% endif %}{% endblock %}

{% block content %}
<div class="entry ui-corner-all" id="author">
{# author bio: message ((with picture?)) #}
<h3>{{ author.firstname }} {{ author.lastname }}
<iframe id="fbl" src="http://www.facebook.com/plugins/like.php?href={{link|urlencode}}&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=trebuchet+ms&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</h3>
<p>{{ author.biography|minifmt|safe }}</p>
</div>

{% if books|length %}
<h3 class="bridge"><span>Publications by <em>{{ author.firstname }} {{ author.lastname }}</em></span></h3>
<div class="entry grid ui-corner-all">
{% for book in books %}
    <div class="publication grid">
        <a href="/book/{{book.link}}"><img class="cover ui-corner-all shadow" width="150" height="225" src="/image/book/small/{{book.link}}" alt="{{book.title}}" />
        <br /><strong>{{book.title}}</strong></a>
        <div class="tip ui-corner-all shadow">
            <h3 class="title"><a href="/book/{{book.link}}">{{book.title}}</a></h3>
            <p class="info">
                <span class="author">A {{book.size}} by {% authorsof book %}</span>
                <span>Genres: {% genresof book %}</span>
                <span>Heat Rating: <a href="/about_ebooks#heat-rating">{{book.ero_rating}}</a></span>
                {% if book.isbn or book.lbpn %}<span>{% if book.isbn %}[ISBN:{{book.isbn}}]{% endif %} {% if book.lbpn %}[LBP:{{book.lbpn}}]{% endif %}</span>{% endif %}
                <span class="price">{{ book.price }}</span>
            </p>
            <div class="blurb">{{ book.blurb|minifmt|safe }}<p class="more right"><a href="/book/{{book.link}}">(Read More...)</a></p></div>
        </div>
    </div>
{% endfor %}
</div>
{% pager bookpager %}
{% endif %}

{% if upcoming|count:1 %}
{# upcoming releases of this author, ordered by expected release #}
<h3 class="bridge"><span>Upcoming Releases by <em>{{ author.firstname }} {{ author.lastname }}</em></span></h3>
<div class="entry grid ui-corner-all">
{% for book in upcoming %}
    <div class="publication grid">
        <a href="/book/{{book.link}}"><img class="cover ui-corner-all shadow" width="150" height="225" src="/image/book/small/{{book.link}}" alt="{{book.title}}" />
        <br /><strong>{{book.title}}</strong></a>
        <div class="tip ui-corner-all shadow">
            <h3 class="title"><a href="/book/{{book.link}}">{{book.title}}</a></h3>
            <p class="info">
                <span class="author">A {{book.size}} by {% authorsof book %}</span>
                <span>Genres: {% genresof book %}</span>
                <span>Heat Rating: <a href="/about_ebooks#heat-rating">{{book.ero_rating}}</a></span>
                {% if book.isbn or book.lbpn %}<span>{% if book.isbn %}[ISBN:{{book.isbn}}]{% endif %} {% if book.lbpn %}[LBP:{{book.lbpn}}]{% endif %}</span>{% endif %}
            </p>
            <div class="blurb">{{ book.blurb|minifmt|safe }}<p class="more right"><a href="/book/{{book.link}}">(Read More...)</a></p></div>        </div>
    </div>
{% endfor %}
</div>
{% endif %}


{% endblock content %}
