{% load bookstore_extras %}

{% url bookstore.views.book book_link=book.link as booklink %}

<div class="publication grid">
    <a href="{{ booklink }}"><img class="cover ui-corner-all shadow" width="150" height="225" src="{{ book.page_image_small.url }}" alt="{{ book.title }}" />
    <br /><strong>{{ book.title }}</strong></a>
    <div class="tip ui-corner-all shadow">
        <h3 class="title"><a href="{{ booklink }}">{{ book.title }}</a></h3>
        <p class="info">
            <span class="author">A {{ book.size }} by {% authorsof book %}</span>
            <span>Genres: {% genresof book %}</span>
            <span>Heat Rating: <a href="/about_ebooks#heat-rating">{{ book.ero_rating }}</a></span>
            {% if book.isbn or book.lbpn %}<span>{% if book.isbn %}[ISBN:{{ book.isbn }}]{% endif %} {% if book.lbpn %}[LBP:{{ book.lbpn }}]{% endif %}</span>{% endif %}
            {% if book.is_published %}<span class="price">{{ book.price }}</span>{% endif %}
        </p>
        <div class="blurb">{{ book.blurb|minifmt|safe }}<p class="more right"><a href="{{ booklink }}">(Read More...)</a></p></div>
    </div>
</div>
