{% extends "bookstore/base.html" %}

{% load bookstore_extras %}

{% block title %}{{ genre.name }} - {{ block.super }}{% endblock %}
{% block metakeywords %}{% if author.metakeywords %}{{ author.metakeywords }}{% else %}{{block.super}}{% endif %}{% endblock %}
{% block metadescription %}{% if author.metadescription %}{{ author.metadescription }}{% else %}{{block.super}}{% endif %}{% endblock %}

{% block rightbar %}
<div id="fbg">
{% fbrec request.get_host "genre" genre.link %}
</div>
{{block.super}}{% endblock rightbar %}

{% block content %}
<div class="entry ui-corner-all" id="genre" style="color: #{{genre.text_color}}; background: #{{genre.page_color}} url({{genre.page_image.url}}) top right no-repeat;">
{# genre header: message with picture #}
<h3>{{ genre.name }}</h3>
<p>{{ genre.description }}</p>
</div>

{% if books.count %}
{# books of this genre, ordered by xxx. include picture (expandable), short description, and link to publication page #}
<h3 class="bridge"><span>Publications in <em>{{ genre.name }}</em></span></h3>
<div class="entry grid ui-corner-all">
{% for book in books %}
    {% bookcard book %}
{% endfor %}
</div>
{% pager bookpager %}
{% endif %}

{% if upcoming_books.count %}
{# upcoming releases of this genre, ordered by expected release #}
<h3 class="bridge"><span>Upcoming <em>{{ genre.name }}</em> Releases</span></h3>
<div class="entry grid ui-corner-all">
{% for book in upcoming_books %}
    {% bookcard book %}
{% endfor %}
<div><a href="{% url bookstore.views.coming_soon %}">See all upcoming releases</a></div>
</div>
{% endif %}

{% endblock content %}