<html>
<head>
<style>
html{background-color:#F8F8F8;padding:0.7em;}
body{font-family:candara,'segoe ui',sans-serif;}
pre{margin:1em 0;background-color:#EEE;border:1px solid #DDD;padding:5px;line-height:1.5em;color:#444;-webkit-box-shadow:rgba(0, 0, 0, 0.07);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{font-family:consolas,monospace;background-color:ghostWhite;color:#444;padding:0 .2em;border:1px solid #DEDEDE;}
pre code{border:none;background-color:inherit;}
</style>
</head>
<body>
{{ content|safe }}
</body>
</html>