{% extends "bookstore/base.html" %}

{% load bookstore_extras %}

{% block title %}{{ book.title }} - {{ block.super }}{% endblock %}

{% block content %}

{% if submitted %}
<div class="entry ui-corner-all">
<h3>You have already purchased <em>{{ book.title }}</em></h3>
<p>You have already initiated a payment through PayPal to purchase <em>{{ book.title }}</em> ({{ pub.format.name }}). However that payment is still pending. <a href="{{ submitted.get_absolute_url }}">Why is my payment pending</a>?</p>
<p>Note that submitting another purchase below may result in another charge to your account.</p>
</div>
{% endif %}

<div class="entry ui-corner-all" id="purchase">
<a href="{{ book.get_absolute_url }}"><img class="cover ui-corner-all shadow" width="150" height="225" src="{{ book.page_image_small.url }}" alt="{{ book.title }}" /></a><br/>
<h3>Purchasing <em>{{ book.title }}</em></h3>
<p>Click the button below to complete this transaction on PayPal. Once your payment has been processed, you will receive an email with instructions for downloading <em>{{ book.title }}</em> ({{ pub.format.name }}). This email will be sent to the address registered to your PayPal account.</p>

<form action="{{ paypal_action }}" method="post" class="center">
{% csrf_token %}
{# https://www.paypal.com/cgi-bin/webscr?cmd=p/pdn/howto_checkout-outside - from search on webscr _xclick #}
<input type="hidden" name="cmd" value="_xclick" />
<input type="hidden" name="business" value="reblakeslee@lillibridgepress.com" />
<input type="hidden" name="item_name" value="{{ book.title }} ({{ pub.format.name }})" />
<input type="hidden" name="currency_code" value="{{ purchase.currency }}" />
<input type="hidden" name="amount" value="{{ purchase.price }}" />
<input type="hidden" name="no_shipping" value="1" />
<input type="hidden" name="invoice" value="rlbp_{{ purchase.id }}" />
<input type="hidden" name="return" value="{{LBP}}{{ purchase.get_absolute_url }}?action=purchased" />
<input type="hidden" name="cancel_return" value="{{LBP}}{{ purchase.get_absolute_url }}?action=cancelled" />
<input type="hidden" name="image_url" value="{{LBP}}/site_media/bookstore/style/lp_paypal.png" />{# 150 x 50 logo image #}
<input type="hidden" name="notify_url" value="{{LBP}}{% url bookstore.views.paypal_ipn %}" />

<button name="submit" style="padding: 0.5em 1em;">
<img src="{{ pub.format.image.url }}" title="{{ pub.format.name }}" style="float:left;"/>&nbsp;<strong>{{ book.title }}</strong><br />{{ book.price }}<br /><br />
<img src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" alt="Make payments with PayPal - it's fast, free, and secure!" />
</button>

</form>
</div>
{% endblock content %}
