{% extends "bookstore/base.html" %}

{% load bookstore_extras %}

{% block htmlhead%}{{ block.super }}<base target="_parent"/>{% endblock htmlhead %}
{% block htmlclass %}class="embed"{% endblock htmlclass %}
{% block bodyclass %}class="embed"{% endblock bodyclass %}

{% block body %}
<div id="rightbar">
{% if bestseller %}
<div class="ui-corner-all feature center rightbar">
<h3>Best Sellers</h3>
<a href="{{ bestseller.get_absolute_url }}" title="Buy {{ bestseller.title }} for {{ bestseller.price }}">
    <img class="cover ui-corner-all shadow" width="125" height="187" src="{{ bestseller.page_image_small.url }}" alt="{{ bestseller.title }}'s Cover"/>
    <br/>
    <strong>{{ bestseller.title }}</strong>
</a>
</div>
{% endif %}

{% if feature %}
<div class="ui-corner-all feature center rightbar">
<h3>Featured Title</h3>
<a href="{{ feature.get_absolute_url }}" title="Buy {{ feature.title }} for {{ feature.price }}">
    <img class="cover ui-corner-all shadow" width="125" height="187" src="{{ feature.page_image_small.url }}" alt="{{ feature.title }}'s Cover"/>
    <br/>
    <strong>{{ feature.title }}</strong>
</a>
</div>
{% endif %}
</div>
{% endblock body %}