{% extends "bookstore/base.html" %}

{% block body %}
<div class="ui-corner-all ui-tabs ui-widget ui-widget-content" id="news">
    <ul class="ui-helper-hidden">{% for news in bannernews %}<li><a href="#{{news.key}}">{{news.title}}</a></li>{% endfor %}</ul>
    {% for news in bannernews %}
    <div id="{{news.key}}" class="news ui-tabs-panel ui-widget-content ui-corner-all{% if not forloop.first %} ui-tabs-hide{% endif %}">
        <img src="/image/news/{{news.key}}" class="newsimage ui-corner-all shadow" alt="News:" />
        <div class="newsscroll"><div class="newstext">{{ news.text_fmt|safe }}</div></div>
    </div>
    {% endfor %}
</div{# news #}>
{% endblock body %}
