{% extends "bookstore/base_admin.html" %}

{% load bookstore_extras %}

{% block title %}Reviews - {{ block.super }}{% endblock %}

{% block content %}
<div class="entry ui-corner-all" style="overflow: auto">
<h3>Send Review Copies</h3>

<form method="post" id="send-review">
{% csrf_token %}
{% if error %}<h3 class="error">{{ error }}</h3>{% endif %}
<div><label for="email">Email:</label><input name="email" id="email" value="{{ email }}"/></div>
<div><label for="name">Name:</label><input name="name" id="name" value="{{ name }}"/></div>
<div><label for="publication">Book:</label><select name="publication" id="publication">
    <option value=""></option>
    {% for book in books %}
    {% if book.bookpublication_set %}
    <optgroup label="{{ book.title }}{% if not book.is_published %} (upcoming){% endif %}">
        {% for pub in book.bookpublication_set.all %}
        <option value="{{ pub.id }}">{{ book.title }} ({{ pub.format.name }})</option>
        {% endfor %}
    </optgroup>
    {% endif %}
    {% endfor %}
</select></div>
<div><label for="preview">Preview:</label>
<div id="preview" style="padding: 0.5em; border: 1px inset black">{% preview "bookstore/email_review.txt" %}</div>
</div>
<button id="review" style="float:right" type="submit" name="op" value="review">Send Free Copy</button>
</form>
</div>
{% endblock content %}

{% block onready %}{{block.super}}
$("button").button();
$("#publication").val("{{ pub_id }}");
$("#email").change(function() { $("#preview-email_address").text($(this).val() || "[email address]"); }).change();
$("#publication").change(function() { $("#preview-title").text($(this).find("option:selected").text() || "[book title]"); }).change();
$("#name").change(function() { $("#preview-email_name").text($(this).val() || "[name]"); }).change();
$("#preview-email_link").text("[download link]");
{% endblock %}